In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [1]:
# pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/fase/anaconda3/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /home/fase/anaconda3/lib/python3.13/site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in /home/fase/anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /home/fase/anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/fase/anaconda3/lib/python3.13/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv('../data/verionislem.csv')
from sklearn.preprocessing import LabelEncoder

In [3]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   Yaş            16 non-null     float64
 2   Maaş           18 non-null     float64
 3   Şehir          20 non-null     object
 4   Çalışma Saati  20 non-null     int64
 5   Memnuniyet     20 non-null     int64
 6   Departman      20 non-null     object
 7   Deneyim Yılı   20 non-null     int64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.4+ KB

,ID,Yaş,Maaş,Şehir,Çalışma Saati,Memnuniyet,Departman,Deneyim Yılı
0,1,25.0,3000.0,İstanbul,40,3,IT,1
1,2,30.0,4500.0,Ankara,45,4,Muhasebe,5
2,3,35.0,5000.0,İzmir,50,5,Pazarlama,10
3,4,NaN,7000.0,İstanbul,38,2,IT,3
4,5,40.0,3200.0,Ankara,42,3,Muhasebe,7
5,6,50.0,8000.0,İzmir,55,5,Pazarlama,12
6,7,28.0,NaN,İstanbul,60,1,IT,2
7,8,32.0,6200.0,Ankara,48,4,Muhasebe,4
8,9,NaN,7500.0,İzmir,35,2,Pazarlama,6
9,10,45.0,9000.0,İstanbul,70,5,IT,15
10,11,29.0,4000.0,Bursa,39,4,İnsan Kaynakları,3
11,12,38.0,5200.0,Adana,44,3,Operasyon,8
12,13,41.0,5600.0,Trabzon,52,4,Satış,9
13,14,NaN,6800.0,Eskişehir,41,5,Ar-Ge,5
14,15,36.0,7100.0,Gaziantep,53,3,Üretim,6
15,16,27.0,4300.0,Konya,47,2,Lojistik,2
16,17,34.0,3900.0,Antalya,49,4,Finans,11
17,18,42.0,4700.0,Mersin,46,5,Satın Alma,14
18,19,31.0,NaN,Kayseri,50,1,Kalite,4
19,20,NaN,8800.0,Diyarbakır,65,3,Hukuk,13

In [4]:
df["Yaş"] = df["Yaş"].fillna(df["Yaş"].mean())
df["Maaş"] = df["Maaş"].fillna(df["Maaş"].mean())

In [5]:
Q1=df["Çalışma Saati"].quantile(0.25)
Q3=df["Çalışma Saati"].quantile(0.75)
iqr=Q3-Q1
down=Q1-1.5*iqr
up=Q3*1.5*iqr

In [6]:
(df["Çalışma Saati"]>=down)&(df["Çalışma Saati"]>=up)
print(df)

    ID      Yaş         Maaş       Şehir  Çalışma Saati  Memnuniyet  \
0    1  25.0000  3000.000000    İstanbul             40           3
1    2  30.0000  4500.000000      Ankara             45           4
2    3  35.0000  5000.000000       İzmir             50           5
3    4  35.1875  7000.000000    İstanbul             38           2
4    5  40.0000  3200.000000      Ankara             42           3
5    6  50.0000  8000.000000       İzmir             55           5
6    7  28.0000  5766.666667    İstanbul             60           1
7    8  32.0000  6200.000000      Ankara             48           4
8    9  35.1875  7500.000000       İzmir             35           2
9   10  45.0000  9000.000000    İstanbul             70           5
10  11  29.0000  4000.000000       Bursa             39           4
11  12  38.0000  5200.000000       Adana             44           3
12  13  41.0000  5600.000000     Trabzon             52           4
13  14  35.1875  6800.000000   Eskişehir             41           5
14  15  36.0000  7100.000000   Gaziantep             53           3
15  16  27.0000  4300.000000       Konya             47           2
16  17  34.0000  3900.000000     Antalya             49           4
17  18  42.0000  4700.000000      Mersin             46           5
18  19  31.0000  5766.666667     Kayseri             50           1
19  20  35.1875  8800.000000  Diyarbakır             65           3

           Departman  Deneyim Yılı
0                 IT             1
1           Muhasebe             5
2          Pazarlama            10
3                 IT             3
4           Muhasebe             7
5          Pazarlama            12
6                 IT             2
7           Muhasebe             4
8          Pazarlama             6
9                 IT            15
10  İnsan Kaynakları             3
11         Operasyon             8
12             Satış             9
13             Ar-Ge             5
14            Üretim             6
15          Lojistik             2
16            Finans            11
17        Satın Alma            14
18            Kalite             4
19             Hukuk            13

In [13]:
df = df[(df["Çalışma Saati"] >= down) & (df["Çalışma Saati"] <= up)]
label_encoder=LabelEncoder()
df["Şehir"]=label_encoder.fit_transform(df["Şehir"])
df["Departman"]=label_encoder.fit_transform(df["Departman"])
df

,ID,Yaş,Maaş,Şehir,Çalışma Saati,Memnuniyet,Departman,Deneyim Yılı
0,1,25.0000,3000.000000,11,40,3,3,1
1,2,30.0000,4500.000000,1,45,4,6,5
2,3,35.0000,5000.000000,12,50,5,8,10
3,4,35.1875,7000.000000,11,38,2,3,3
4,5,40.0000,3200.000000,1,42,3,6,7
5,6,50.0000,8000.000000,12,55,5,8,12
6,7,28.0000,5766.666667,11,60,1,3,2
7,8,32.0000,6200.000000,1,48,4,6,4
8,9,35.1875,7500.000000,12,35,2,8,6
9,10,45.0000,9000.000000,11,70,5,3,15
10,11,29.0000,4000.000000,3,39,4,12,3
11,12,38.0000,5200.000000,0,44,3,7,8
12,13,41.0000,5600.000000,10,52,4,10,9
13,14,35.1875,6800.000000,5,41,5,0,5
14,15,36.0000,7100.000000,6,53,3,11,6
15,16,27.0000,4300.000000,8,47,2,5,2
16,17,34.0000,3900.000000,2,49,4,1,11
17,18,42.0000,4700.000000,9,46,5,9,14
18,19,31.0000,5766.666667,7,50,1,4,4
19,20,35.1875,8800.000000,4,65,3,2,13

In [9]:
scaler=MinMaxScaler()
df[["Maaş","Çalışma Saati","Deneyim Yılı"]]=scaler.fit_transform(df[["Maaş","Çalışma Saati","Deneyim Yılı"]])
df

,ID,Yaş,Maaş,Şehir,Çalışma Saati,Memnuniyet,Departman,Deneyim Yılı
0,1,25.0000,0.000000,İstanbul,0.142857,3,IT,0.000000
1,2,30.0000,0.250000,Ankara,0.285714,4,Muhasebe,0.285714
2,3,35.0000,0.333333,İzmir,0.428571,5,Pazarlama,0.642857
3,4,35.1875,0.666667,İstanbul,0.085714,2,IT,0.142857
4,5,40.0000,0.033333,Ankara,0.200000,3,Muhasebe,0.428571
5,6,50.0000,0.833333,İzmir,0.571429,5,Pazarlama,0.785714
6,7,28.0000,0.461111,İstanbul,0.714286,1,IT,0.071429
7,8,32.0000,0.533333,Ankara,0.371429,4,Muhasebe,0.214286
8,9,35.1875,0.750000,İzmir,0.000000,2,Pazarlama,0.357143
9,10,45.0000,1.000000,İstanbul,1.000000,5,IT,1.000000
10,11,29.0000,0.166667,Bursa,0.114286,4,İnsan Kaynakları,0.142857
11,12,38.0000,0.366667,Adana,0.257143,3,Operasyon,0.500000
12,13,41.0000,0.433333,Trabzon,0.485714,4,Satış,0.571429
13,14,35.1875,0.633333,Eskişehir,0.171429,5,Ar-Ge,0.285714
14,15,36.0000,0.683333,Gaziantep,0.514286,3,Üretim,0.357143
15,16,27.0000,0.216667,Konya,0.342857,2,Lojistik,0.071429
16,17,34.0000,0.150000,Antalya,0.400000,4,Finans,0.714286
17,18,42.0000,0.283333,Mersin,0.314286,5,Satın Alma,0.928571
18,19,31.0000,0.461111,Kayseri,0.428571,1,Kalite,0.214286
19,20,35.1875,0.966667,Diyarbakır,0.857143,3,Hukuk,0.857143